<h1>视频教程</h1>
<p>这里有一个视频教程，不想看本文的可以直接看视频</p>
<p><a href='http://v.youku.com/v_show/id_XMTQ3ODIxMzkzNg==.html'>手机端浏览</a>
<embed src="http://player.youku.com/player.php/sid/XMTQ3ODIxMzkzNg==/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" /></p>
<p>抓图视频教程</p>
<p><a href='http://weibo.com/p/2304441461eac687b3efbf19cb54635769db7b'>手机端浏览</a>
<embed type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="transparent" quality="high" height="480" width="480" src="http://video.weibo.com/player/1034:1461eac687b3efbf19cb54635769db7b/v.swf"/></p>
<h1 data-breakpage>媒体测评</h1>
<p><a href='https://mrmad.com.tw/ios-pin-app'>瘋先生《[iPhone/iPad必裝] 改變你的生活習慣操作！iOS萬能多功能剪貼神器Pin降臨》</a></p>
<p><a href='http://www.ifanr.com/app/622387'>AppSolution《苹果重点推荐的剪贴板神器，到底有多好用？- Pin #iOS #AppStory》</a></p>
<p><a href='http://zuimeia.com/app/3443/?platform=1'>最美应用《三枚小而美的神器》</a></p>
<p><a href='http://sspai.com/32404'>少数派《你对剪贴板的需求它都能满足：iOS 剪贴板增强工具 Pin》</a></p>
<p><a href='http://sspai.com/32465'>少数派《剪贴板增强工具 Pin 的 7 个使用技巧》</a></p>
<p><a href='http://www.ifanr.com/602969'>爱范儿《小小的剪贴板如何让你的 iPhone 发光发热》</a></p>
<p><a href='http://www.geekpark.net/topics/214244'>极客公园《最适合手机的「复制粘贴」方式，给自己调教一块走心的「智能剪贴板」》</a></p>
<p><a href='http://www.appinn.com/pin-for-ios/'>小众软件《Pin – iOS 剪贴板还能玩出花？》</a></p>
<p><a href='http://www.qdaily.com/articles/22956.html'>好奇心日报《iPhone 上的剪贴板神器，现在可以当键盘用了》</a></p>
<p><a href='http://www.qdaily.com/articles/18038.html'>好奇心日报《管好剪贴板，是把手机变成生产力工具的第一步》</a></p>
<p><a href='http://toutiao.com/a6253627473829986561/'>小黄人科技《iPhone 安装一个「Pin」，足够替代10+个应用》</a></p>
<h1 data-breakpage>为什么有这篇文章</h1>
<p>其实从我内心来说，我非常不情愿去写这样一篇类似于 wizard 的东西，因为我认为，一个软件如果需要有说明书用户才知道如何使用，那他是失败的，至少他的交互设计是不易理解的。但是慢慢地我发现 Pin 是一个有一点 Pro 的一个 app，虽然他的设计初衷极为简单，但在更迭过程中他已经出现了各种各样进阶的玩法，在 app 里面表述一来有限，二来不能随时更新，所以以后关于 Pin 的各种细节的更新，都可以在这个文档里面找到。</p>
<hr />
<h1 data-breakpage>Pin 的起源</h1>
<p><strong>Pin</strong> = <strong>Pin Is Not</strong> only a launcher，也许你发现了，Pin Is Not 的首字母加起来就是 Pin，而这句话里面又包含了 Pin 本身，这种表述法被称为 <a href='http://baike.baidu.com/view/5034635.htm'>递归缩写</a>。正如 Linux = Linux Is Not UniX，GNU = Gnu&#39;s Not Unix 一样，Pin 也有这么一个有趣的名字，当然你不记得也没关系，Pin 也是图钉 OR 别针的意思。任何软件的诞生都是为了解决某种问题，亦或是制造某种问题然后解决它。Pin 的诞生十分偶然，来自于作者 <a href='http://ioszen.com/about'>Cyan</a> 同学对剪贴板 app 的需求，他尝试了 iOS 平台老前辈 Clips 和 Heapo，顿时觉得脑子不够用，天呐世界上怎么会有这么难懂的 app，我只是想记录一个剪贴板而已，如果能用剪贴板的数据快速搜索就更好了！于是 Pin 在一周后诞生了，Pin 想解决的核心问题只有一个：<strong>更有效利用剪贴板的数据</strong>。所以 Pin 被划分成了四大组件：</p>
<ul><li>
<strong>剪贴板</strong></li>
<li>
<strong>动作</strong></li>
<li>
<strong>分词</strong></li>
<li>
<strong>预览</strong></li>
<li>
<strong>分享插件</strong></li>
<li>
<strong>自定义键盘</strong></li>
</ul>
<p>这是 Pin 的现状，当然不排除在未来可能有更好的交互可以将它们其中一些合并起来，那样 Pin 会显得更加的简洁。</p>
<p>那么现在就来详细了解一下 Pin 四大组件吧！</p>
<hr />
<h2>剪贴板</h2>
<p><strong>1. 基本功能</strong></p>
<p>剪贴板是最容易理解和操作的一个组件，他简单的将剪贴板复制的内容保存在 Pin 里面，方面浏览历史记录和复制以前的内容。由于 iOS 的限制，剪贴板监听没有办法在后台进行，不过好在 iOS 8 支持通知栏插件，所以复制数据后下拉通知栏，完成剪贴板保存。</p>
<p><strong>2. 特色功能</strong></p>
<p>Pin 的剪贴板可以对某个数据进行 “PIN” 操作，意思是把数据置顶，这样的话方便一些更重要的数据可以随时看到。在通知中心长按可以进行PIN、删除操作。在主应用可以主动添加一个数据，而不需要从剪贴板粘贴。
Pin 的剪贴板会对数据进行合理的处理，比如说点击链接的时候会自动在全部文本中把链接拿出来，电话号码也一样。</p>
<p><strong>3. 小技巧</strong></p>
<p>在剪贴板插件上面，虽然只有右侧有翻页按钮，但其实左侧也一样可以翻页，只是为了简洁，没有让两个按钮显示出来，他们是隐形的。并且按钮支持长按，试试长按往下翻的按钮，列表回直接滚到底。
在新版本里面，PIN 记录列表上面支持 3D Touch 操作，对其重压可以查看全文，不支持 3D Touch 的设备这个动作会被长按代替。</p>
<hr />
<h2>动作</h2>
<p><strong>1. 基本功能</strong></p>
<p>动作不是 Pin 原创的设计，在 Pin 以前，iOS 平台就已经有了各式各样的启动器。有些号称独树一帜，有着革命性的创新，其实无一不都是 <a href='http://sspai.com/31500'>URL Scheme</a> 的运用，其实说白了任何启动器原理都一样，Pin 在这一方面和他们也没有任何不同，这一点 Pin 需要保持谦逊，也意味着其他启动器能用的 scheme 一样可以很好的运行在 Pin 上。
当然，Pin 也有特色：</p>
<p><strong>无限添加动作，可以自由左右滑动</strong>
<strong>动作设计极为简单，甚至没有图标</strong>
<strong>大部分动作都以剪贴板数据为核心</strong></p>
<p><strong>2. 特色功能</strong></p>
<p>Pin 的动作支持 <strong>%@</strong> 符号，只要 scheme 里面包含 %@，在启动动作的时候，%@ 都会被自动替换成剪贴板的数据。例如百度搜索的动作 <a href='https://www.baidu.com/s?wd=%' target='_blank' >https://www.baidu.com/s?wd=%</a>@
剪贴板的内容是 Pin，那么在启动这个动作的时候，就可以直接百度搜索 Pin 这个关键词。其他的动作也都支持这个设定。</p>
<p><strong>3. 小技巧</strong></p>
<p>Pin 的动作在通知栏一样是支持长按操作的，长按会直接忽略剪贴板的数据，让他变成一个普通的动作。同时左右按钮支持循环滚动，如果页数很多的话很受用。（当然我并不推荐你添加太多的动作，尽管 Pin 没有限制你）</p>
<p><strong>4. 扩展插件</strong></p>
<p>Pin 的动作扩展是一个有点复杂的话题，将会在后面详细讨论，简单说，动作扩展让 Pin 的动作功能和其他的启动器有很大的不一样，极大的丰富了 Pin 的能力。</p>
<hr />
<h2>分词</h2>
<p><strong>1. 基本功能</strong></p>
<p>Pin 的分词功能其实是 Pin 的首创，至少在 Pin 以前我没看见过哪个 app 把分词用在这个地方。简单地说，分词就是把一段话根据语义分割成一堆词组，原本是<a href='http://baike.baidu.com/view/18784.htm'>自然语言处理</a>的一个步骤。当然你不明白含义也没关系，你只需要简单的知道，当你收到别人的微信或者短信，只能复制一大段文本的时候，用 Pin 的分词功能，可以很快的把你真正想要的部分分割出来。</p>
<p><strong>2. 特色功能</strong></p>
<p>所谓合久必分，分久必合。Pin 的分词还支持合并操作，你可以把分词面板里面的结果单独挑出来两个合并在一起，然后搜索或者复制。同时，Pin 的分词并不会破坏掉原句子里面的空格，原本有空格的地方合并之后空格依然会保持。并且 Pin 会对文本中的链接进行很好的处理，让他们保持不会被分割开，点击他们之后也会直接打开链接。</p>
<p><strong>3. 小技巧</strong></p>
<p>分词支持动作的指定，对于分词的结果，你可能需要搜索，也可能需要保存，这些动作可以在主应用里面进行设置，可供选择的列表正是你在动作插件里面添加过的那些。在默认的情况下，分词的动作被指定为了 x-web-search，表示使用 Safari 默认的搜索引擎搜索。
点击分词的行为可以在主应用里面设置，可以分为点击启动，长按复制，或者反过来</p>
<hr />
<h2>预览</h2>
<p><strong>1. 基本功能</strong></p>
<p>通知栏预览网页似乎也是 Pin 的首创。在早期的时候，要做到这样一个事情是完全不可能的，因为通知栏的性能有着极高的要求，不过 Pin 通过一些折衷的手段做到了这么一个事情。
简单说，预览就是快速在通知中心浏览结果，而不需要离开当前的 app</p>
<p><strong>2. 特色功能</strong></p>
<p>和分词一样，也是支持动作的设定，动作的来源也是在动作插件里面添加过的那些。譬如说你要搜索一个东西，只需要复制它，然后下拉通知栏就能看到，还能点击上下半屏幕翻页（也能取消掉），如果需要继续浏览的话，可以打开 Safari 继续。并且，可以在主应用里面开启自动预览的选项。</p>
<p><strong>3. 小提示</strong></p>
<p>预览这个功能目前是和其他几个功能关系最少的，不排除以后可能会合并到其中某个插件的可能，需要继续观察和优化几个版本。</p>
<hr />
<h2>动作扩展</h2>
<p><strong>1. 什么是动作扩展</strong></p>
<p>动作扩展其实是 Pin 的动作部分的一种能力增强，他们是 Pin 有别于其他启动器的重要部件，在日后会添加更多适合对剪贴板进行扩展的动作扩展。同时支持主应用启动和通知栏启动两种方式。</p>
<p><strong>2. 目前支持的动作扩展(v1.4)</strong></p>
<table>
<thead>
<tr><th>名称</th><th style='text-align:center;' >功能</th></tr></thead>
<tbody><tr><td>抓图</td><td style='text-align:center;' >从二维码、剪贴板等处把图片抓到</td></tr><tr><td>图库</td><td style='text-align:center;' >一个简单轻量的 GIF 管理工具</td></tr><tr><td>分享</td><td style='text-align:center;' >调用分享面板分享剪贴板的文本或图片</td></tr><tr><td>保存</td><td style='text-align:center;' >快速保存文本至日历、提醒、印象笔记</td></tr><tr><td>二维码</td><td style='text-align:center;' >将剪贴板的文本或链接生成二维码，方便分享</td></tr><tr><td>高级搜索</td><td style='text-align:center;' >快速实现搜索引擎的高级技巧，例如站内搜索</td></tr><tr><td>内置词典</td><td style='text-align:center;' >使用系统默认的词典查询单词</td></tr><tr><td>文本截图</td><td style='text-align:center;' >文本转成图片，可以用在长微博</td></tr><tr><td>网页截图</td><td style='text-align:center;' >将网页内容保存成图片方便分享</td></tr></tbody>
</table>
<p><strong>3. 小技巧</strong></p>
<p>抓图扩展可以配合 Chrome 插件使用
图库支持 GIF，Safari 保存下来的图片分享到微信会变成表情
保存到日历的时候，会默认建立一个一小时的时间段，可以修改</p>
<p><strong>4. 动作扩展的愿景</strong></p>
<p>动作扩展希望建立一个以剪贴板数据为核心的处理中心，希望能对文本处理发挥到极致。当然在这个过程中不可避免的会让 app 变的不那么轻量，所以要在产品的发展中保持克制，保持权衡。</p>
<hr />
<h2>结语</h2>
<p>以上就是 Pin 的一些故事和细节，当然在后续的更新中，这个文档会被不断的完善，也希望大家可以对 Pin 提更多建议，可以直接反馈到 <a href='mailto://log.e@qq.com' target='_blank' >log.e@qq.com</a> 这个邮箱，也能在<a href='http://ioszen.com/about'>这里</a>找到我。 </p>
<p>觉得 Pin 和这篇文章对你有用的话，请考虑支持我：</p><p>
<img src='http://ioszen.com/wechat.png' alt='微信支付' /></p><p><img src='http://ioszen.com/alipay.png' alt='支付宝' /></p>
<p>我相信优质的内容是值得为之付费的，希望国内的软件环境会越来越好，诞生出越来越多高质量的独立作品。</p>
