<blockquote>
  修改文件位置：<code>/_includes/helpers/tinycal-osx.html</code>，不支持 markdown，<br />
  并以<code>&lt;h1&gt;</code>开始。
</blockquote>

<h1>特性列表</h1>
<ul><li>
显示农历、节日节气和法定节假日</li>
<li>
支持日历事件的查看和管理</li>
<li>
点击箭头切换月份</li>
<li>
点击标题回到当前月份</li>
<li>
点击日期显示当日的事件</li>
<li>
可定制的启动快捷键</li>
<li>
可定制的颜色和尺寸</li>
<li>
节假日消息推送提醒</li>
</ul>
<h1 data-breakpage>快捷键</h1>
<ul><li>
cmd + ctrl + 方向下 打开面板</li>
<li>
上下左右切换月份</li>
<li>
空格键显示当天事件</li>
<li>
按下数字开始输入年月</li>
<li>
回车键回到当前月份</li>
</ul>
<h1 data-breakpage>URL Scheme</h1>
<p>小历支持 tinycal 和 tcal 两个 URL Scheme，你可以使用这两个打开小历的面板</p>
<p>同时也可以带有参数，例如</p>
<p>tcal://2016/6</p>
<p>tcal://2016-6</p>
<p>tcal://2016.6</p>
<p>都可以打开面板并跳转到 2016年 6月。</p>
