body,input,textarea,select,button {
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -moz-font-feature-settings:'liga', 'kern'
}

body {
  font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'Microsoft Yahei', sans-serif;
  color: $ioszen-text-color;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  min-width: 250px;
}

.page {
  flex: 1;
}

a {
  color: $ioszen-link-color;
}

.post-category {
  background: $ioszen-link-color;
  color: white;
  padding: 3px 4px;
  border-radius: 3px;
}

.post-date {
  margin-left: 10px;
  padding: 1px 2px;
  font-family: Georgia;
  font-size: 16px;
}
